.main {
  margin-bottom: 2rem;
}

.store_header {
  font-size: 1.75rem;
  text-align: center;
  margin: 2rem;
}

.store_cards {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
