.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 400px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.card_img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.card_title {
  font-size: 1.25rem;
  text-align: center;
}

.card_price {
  margin-top: 0.5rem;
  font-size: 1.125rem;
}

.card_button {
  padding: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  color: black;
  background-color: #fcce9f;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
}

.card_button :hover {
  cursor: pointer;
}
