/* Flexbox container for card  */
.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 10px;
  color: white;
}

/* Card Image  */
.card_img {
  width: 400px;
  height: auto;
  flex-grow: 1;
  border-radius: 10px;
}

/* Card Item Information  */
.card_info {
  font-size: 1.25rem;
}

/* Card Item Button  */
.card_button {
  padding: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  color: black;
  background-color: #f9a857;
  text-decoration: none;
}

.card_button :hover {
  cursor: pointer;
}
